body { background: #9ad971; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 39px; display: flex; }
.block-validator-0 { color: #ab7f64; font-size: 19px; margin-bottom: 5px; }
.block-invoice-1 { color: #e44c4d; font-size: 20px; margin-bottom: 5px; }
.block-payment-2 { color: #958934; font-size: 21px; margin-bottom: 5px; }
.block-invoice-3 { color: #a5495b; font-size: 14px; margin-bottom: 5px; }
.block-email-4 { color: #bb794d; font-size: 16px; margin-bottom: 5px; }